*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-primary: whitesmoke;
    --clr-dark: #0C0E36;
    --clr-light: #FFF;
    --fw-normal: 400;
    --fw-bold: 700;
    --fw-black: 900;
    --grid: 1fr;
}

body { 
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.125rem;
    color: var(--clr-dark);
    line-height: 1.6;
    background: gray;
 }

 @font-face {
   font-family: odinFont;
   src: url(Norse-Bold.otf);
 }

 .container {
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background: var(--clr-dark);
    padding-top: 20px;
    padding-bottom: 20px;
 }

 .child-container-left {
    display: flex;
    position: relative;
    width: 35%;
    height: 100%;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: url("hire.jpg");
    background-size: cover;
    background-repeat: no-repeat;
 }

 .child-container-right {
    display: flex;
    position: relative;
    width: 65%;
    height: 100%;
    flex-direction: column;
 }

 .left-up {
    height: 25%;
    padding: 2rem;
    opacity: 0.01;
 }

 .left-center {
    height: 15%;
    padding: 2rem;
    font-family: odinFont;
    font-size: 42px;
    opacity: 0.9;
 }

 h2 {
   color: var(--clr-light);
   font-size: 52px;
 }

 .left-bottom {
    height: 60%;
    padding: 2rem;
    opacity: 0.01;
 }

 .right-up {
    background: var(--clr-primary);
    height: 40%;
    padding: 2rem;
    padding-top: 7rem;
 }

 .right-center {
    background: white;
    height: 30%;
    padding: 2rem;
 }

 .right-bottom {
    background: var(--clr-primary);
    height: 30%;
    padding: 2rem;
 }